.intro-containers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-result ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .search-result li {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  li span {
    margin-right: 10px;
  }

  .signout-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .search-result li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-status {
    display: inline-block;
    margin-right: 5px;
  }
  
  .status-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .status-circle.online {
    background-color: green;
  }
  
  .status-circle.offline {
    background-color: red;
  }
  